* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #f1f5f9;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: rgba(15, 23, 42, 0.95);
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.hero h1 {
    font-size: 50px;
}

.hero h3 {
    color: #38bdf8;
    margin: 10px 0;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    width: fit-content;
    border-radius: 8px;
    font-weight: bold;
}

/* SECTIONS */
.section {
    padding: 100px 10%;
}

.dark {
    background: #1e293b;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* CARDS */
.card, .project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover, .project-card:hover {
    transform: translateY(-5px);
    background: #334155;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #0f172a;
}
